@import url('../css/themes/body.css');

.side-bar-menu{
    width: 15%;
    background-color: #bacadb;
    box-shadow: 4px 4px 4px 0px black;

    img{
        width: 100%;
    }

    .user{
        padding: 20px 25px;
        
        span{
            padding: 0px 10px;
        }
    }

    .buttons-menu{
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        a{
            text-decoration: none;
            padding: 10px 40px;
            color: black;
        }

        a:hover{
            background-color: rgb(102, 142, 252);
        }

        a i{
            padding-right: 10px;
            color: black;
        }

        /*classe do botão collapse*/
        a.active/*,button.active(caso queira colocar em outro elemento)*/{
            background-color: rgb(102, 142, 252);
        }

        .contents{
            display: none;

            a{
                display: flex;
                justify-content: center;
                width: 100%;
                padding: 10px 0px;
            }
        }
    }
}