@import url('../themes/buttons.css');
@import url('../themes/filter.css');
@import url('../themes/input.css');

.contents{
    padding: 30px 70px;

    .orders{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        .border{
            padding: 50px 150px;
            border: 5px solid rgb(241, 46, 46);
            position: relative;

            a{
                text-decoration: none;
                color: black;
            }

            a h2{
                transform: scale(3, 3);
            }

            .icon-trash{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: absolute;
                right: 10px;
                bottom: 10px;
                width: 30px;
                height: 30px;
                
                .border-boll-trash{
                    display: flex;
                    flex-direction: row;
                    border: 1px solid black;
                    padding: 5px;
                    border-radius: 50px;
                }
            }

            .icon-paid{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: absolute;
                right: 50px;
                bottom: 10px;
                width: 30px;
                height: 30px;
                
                .border-boll-paid{
                    display: flex;
                    flex-direction: row;
                    border: 1px solid black;
                    padding: 5px;
                    border-radius: 50px;
                }
            }
        }
    }
}